<div class='container'>
  <div class='title-header'>
    <h1 class='tracktify-title'>TRACKTIFY</h1>
    <p class='tracktify-description'>GENERATE A TRACKT LIST OF YOUR TOP 20 SONGS ON SPOTIFY</p>
  </div>

  <div class='trackt-buttons'>
    <button id='last-month-button' class='trackt-button'>LAST MONTH</button>
    <button id='six-months-button'class='trackt-button'>LAST SIX MONTHS</button>
    <button id='all-time-button' class='trackt-button'>ALL-TIME</button>
  </div>

  <div class='trackt-lists-container'>
    <div id='last-month-trackt-div'>
      <%= render :partial => 'trackt_list', 
        locals: {
          time_range_title: 'LAST MONTH',
          top_tracks: @top_tracks_one_month,
          debug: false,
        } 
      %>
    </div>
    <div id='six-months-trackt-div'>
      <%= render :partial => 'trackt_list', 
        locals: {
          time_range_title: 'LAST SIX MONTHS',
          top_tracks: @top_tracks_six_months,
          debug: false,
        } 
      %>
    </div>
    <div id='all-time-trackt-div'>
      <%= render :partial => 'trackt_list', 
        locals: {
          time_range_title: 'ALL-TIME',
          top_tracks: @top_tracks_all_time,
          debug: false,
        } 
      %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'tracktlists', 'data-turbolinks-track': 'reload' %>