<div class='container'>
  <div class='title-header'>
    <h1 class='tracktify-title'>TRACKTIFY</h1>
  </div>

  <%= button_to 'SIGN IN WITH SPOTIFY', '/auth/spotify', { class: 'trackt-button' } %>
</div>

<div class='trackt-lists-container'>
  <div id='test-trackt-div'>
    <%= render :partial => 'tracktlists/trackt_list', 
      locals: {
        time_range_title: 'TEST TIME RANGE',
        top_tracks: nil,
        debug: true,
      } 
    %>
  </div>
</div>