<div class='container'>
  <div class='title-header'>
    <h1 class='tracktify-title'>Tracktify</h1>
    <p class='tracktify-description'>Get Your Top 20 Spotify Trackt Songs</p>
  </div>
  
  <%= button_to 'Sign in with Spotify', '/auth/spotify', { class: 'spotify-login-button' } %>
</div>