$trackt-list-width: 700px;
$trackt-list-width-mobile: 400px;

.trackt-lists-container {
  margin: 25px;
  display: flex;
  justify-content: center;
}

#last-month-trackt-div, #six-months-trackt-div, #all-time-trackt-div {
  display: none;
}

#test-trackt-div {
  display: none;
}

.trackt-list-container {
  width: $trackt-list-width;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-color: black;
  color: white;
  padding-top: 10px;

  p {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  }

  .trackt-list-header {
    width: $trackt-list-width;
    text-align: center;

    .trackt-list-title {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 3em;
    }

    .trackt-list-time-range {
      font-size: 1.3em;
    }
  }

  .track-div {
    text-align: left;
    width: $trackt-list-width;
    height: 30px;
    padding: 0 0 0 30px;
  
    .track-title {
      font-size: 1.3em;
      margin-bottom: 0;
    }

    .track-number {
      padding-right: 5px;
    }
  }

  .trackt-list-footer {
    margin-top: 25px;
    width: $trackt-list-width;
    display: flex;
    padding: 0 30px 0 30px;
    justify-content: space-between;

    p {
      color: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .trackt-list-container {
    width: $trackt-list-width-mobile;

    .trackt-list-header {
      width: $trackt-list-width-mobile;

      .trackt-list-title {
        font-size: 2em;
      }
  
      .trackt-list-time-range {
        font-size: 1em;
      }
    }
  
    .track-div {
      width: $trackt-list-width-mobile;

      .track-title {
        font-size: 1em;
      }
    }
  
    .trackt-list-footer {
      width: $trackt-list-width-mobile;

      p {
        font-size: 0.8em;
      }
    }
  }
}