html, body {
  height: 100%;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.container {
  text-align: center;
}

.tracktify-title {
  font-size: 3em;
}

.tracktify-description {
  font-size: 1em;
}

.trackt-buttons {
  display:flex;
  justify-content: center;
}

.trackt-button {
  font-size: 1em;
  background-color: #063B9E;
  color: white;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.trackt-button:hover {
  background-color: #457DE5;
}

.trackt-button-clicked {
  background-color: #001B4D;
}

.trackt-lists-container {
  margin: 50px;
  display: flex;
  justify-content: center;
}

#last-month-trackt-div, #six-months-trackt-div, #all-time-trackt-div {
  display: none;
}

.trackt-list-container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-color: black;
  color: white;
  padding-top: 50px;

  p {
    font-family: 'Segoe UI', cursive;
  }

  .trackt-list-header {
    width: 400px;
    padding-bottom: 30px;
    text-align: center;

    .trackt-list-title {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 4em;
    }

    .trackt-list-time-range {
      padding-top: 5px;
      font-size: 1.3em;
    }
  }

  .track-div {
    text-align: center;
    width: 400px;
    padding: 10px 0 10px 0;
  
    .track-title {
      font-size: 1.3em;
      margin-bottom: 0;
    }

    .track-number {
      // text-decoration: underline;
    }

    .track-artists {
      margin-top: 5px;
      font-size: 1em;
    }
  }

  .credit {
    color: #353535;
    margin-top: 50px;
    width: 400px;
    text-align: right;
    padding-right: 15px;
  }
}

.footer {
  text-align: center;
}