$trackt-list-width: 700px;

html, body {
  height: 100%;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

body, p {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.container {
  text-align: center;
}

.tracktify-title {
  font-size: 3em;
}

.tracktify-description {
  font-size: 1em;
}

.trackt-buttons {
  display: flex;
  justify-content: center;
}

.trackt-button {
  font-size: 1em;
  background-color: black;
  color: white;
  padding: 10px 25px;
  margin: 10px;
  border: 1px solid black;
  outline: none;
}

.trackt-button:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.trackt-button-clicked {
  background-color: white;
  color: black;
  border-color: black;
}

.trackt-lists-container {
  margin: 25px;
  display: flex;
  justify-content: center;
}

#last-month-trackt-div, #six-months-trackt-div, #all-time-trackt-div {
  display: none;
}

#test-trackt-div {
  display: none;
}

.trackt-list-container {
  width: $trackt-list-width;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-color: black;
  color: white;
  padding-top: 10px;

  p {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  }

  .trackt-list-header {
    width: $trackt-list-width;
    text-align: center;

    .trackt-list-title {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 3em;
    }

    .trackt-list-time-range {
      font-size: 1.3em;
    }
  }

  .track-div {
    text-align: left;
    width: $trackt-list-width;
    height: 30px;
    padding: 0 0 0 30px;
  
    .track-title {
      font-size: 1.3em;
      margin-bottom: 0;
    }

    .track-number {
      padding-right: 5px;
    }

    .track-artists {
      margin-top: 5px;
      font-size: 1em;
    }
  }

  .trackt-list-footer {
    margin-top: 25px;
    width: $trackt-list-width;
    display: flex;
    padding: 0 30px 0 30px;
    justify-content: space-between;

    p {
      color: white;
    }
  }
}

.footer {
  text-align: center;
}